#APP
APP_PORT=3000
APP_NAME=rick-and-morty
APP_ENV=development

BASE_URL=http://localhost:3000

# Security
CORS_ORIGIN=*
CORS_ALLOWED_HEADERS=Content-Type,Authorization,Accept
CORS_ALLOWED_METHODS=POST,PUT,DELETE,GET,PATCH,OPTIONS

# Database
DB_DIALECT=YOUR_DB_DIALECT
DB_HOST=YOUR_DB_HOST
DB_PORT=YOUR_DB_PORT
DB_USER=YOUR_DB_USER
DB_PASSWORD=YOUR_DB_PASSWORD
DB_NAME=YOUR_DB_NAME

# Redis
REDIS_HOST=YOUR_REDIS_HOST
REDIS_PORT=YOUR_REDIS_PORT

# External API
RICK_MORTY_API_URL=https://rickandmortyapi.com/graphql
