# Dependencies
/node_modules
/dist

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env
.env.local

# Builds
.parcel-cache
/build

# IDE and OS files
.idea/
.vscode/
*.swp
.DS_Store

# Coverage reports
coverage/
.lcov-report/

